.container {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  color: var(--white-500);
}

.logo {
  font-size: 33px;
  line-height: 84px;
  font-family: var(--secondary-font);
  text-align: center;
}

.copy {
  font-size: 23px;
  line-height: 34px;
  text-align: center;
  font-weight: 500;
  margin: 0 var(--page-x-padding);
  margin-bottom: 20px;
}
